
<div class="row">
  <div class="col-1"></div>
  <div class="col-8">
    <h1 class = "<%= @article.tag %>"><%= @article.title %></h1>
  </div>
  <div class="col-2">
    <%= link_to "Edit", edit_article_path(@article), class:"btn-sm btn btn-warning"%>
    <%= link_to "Destroy", article_path(@article),
    method: :delete,
    data: { confirm: "Are you sure?" },
    class:"btn btn-danger btn-sm" %>
  </div>
  <div class="col-1"></div>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-md-5">
    <div class="square-image">
      <img src="<%= @image %>" class="rounded img-fluid" alt="...">
    </div>
  </div>
  <div class="col-5 d-flex align-items-center">
    <div class="article-body">
      <p><i>I chose <%= @article.tag.pluralize %> because: </i><br><%= @article.body %></p>
    </div>
  </div>
  <div class="col-1"></div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <h2 >Comments</h2>
    <%= render @article.comments %>
    <div class="add-comment">
      <h2>Add a comment:</h2>
      <%= render 'comments/form' %>
    </div>
  </div>
  <div class="col-1"></div>
</div>
